<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta name="vaadin-version" content="8.0.2">
 </head>
 <body>
  <vaadin-vertical-layout responsive size-full>
   <vaadin-form-layout style-name="card" responsive size-auto>
    <vaadin-text-field caption="Nome:" responsive width="454px" _id="nomeFiltro"></vaadin-text-field>
    <vaadin-text-field caption="Senha:" responsive width="207px" _id="senhaFiltro"></vaadin-text-field>
    <vaadin-horizontal-layout responsive>
     <vaadin-button icon="fonticon://Vaadin-Icons/e805" style-name="primary" responsive width="207px" plain-text _id="consultar">
       Consultar 
     </vaadin-button>
     <vaadin-button icon="fonticon://Vaadin-Icons/e69a" style-name="friendly" responsive width="156px" plain-text _id="limpar">
       Limpar 
     </vaadin-button>
    </vaadin-horizontal-layout>
   </vaadin-form-layout>
  </vaadin-vertical-layout>
 </body>
</html>